<h1>Game Guidence</h1>
        <h3>1: You can use the WASD or Up down Right Left keys to control the movement of the main character.  </h3><br>
        <h3>2: You need to control the main character to go ahead continuously by defeating the monsters and opening doors. </h3><br>
        <h3>3: Only when the character can defeat the monster, will a fight start.</h3><br>
        <h3> 4: You can strength the main character by upgrading, trading with non-player-character and get treasures.</h3><br>
        <h3> 5: If character cannot defeat the monster which blocks the way or doesen't have enough keys to open the door, you have lost the game.</h3>
