<% provide(:title, 'Home') %>
<br> <br> <br><br><br><br>
    <center>

<a href="game" class = "logo" >
</a><br> <br> 
  <a href="game"> <h3 ><p class = "logo">Play >></p></h3> </a>
<div class="logo" > 

    <br> <br> <br><br><br><br><br><br> 
   </div></center>

<div>
 
     </div>

