
    <div >
    <div  >
 	<div class="row">
    <!-- <div class="col-sm-4 col-sm-offset-3"> -->
            <div class="col-sm-7">
   
             <h1 ><font color="#5AB7D6">{{questions[whichOne][goahead]}}</font></h1>    
               
                <table class="table table-hover">
                <tr>    <th class="choices" >Choices</th><th>Answers</th></tr> 
                <tr  ng-repeat="choice in choices[whichOne][goahead]"   ng-click="answerQusetion($index, goahead,score)"  >
                    <td><font color = '#B827B3'>
	        {{abcd[$index]}}
	      </td></font>
	   <td>
	           {{choice}}    
	     </td>
             </table>
                           <button class="btn btn-warning" ng-click="goBack()"><font font size="6">Go Back</font></button>
     </div>


            <div class="col-sm-5">

             <br><br> <br><br> 
             
                <table class="table table-striped">
                <tr><th>No.</th><th>Result</th><th>Total Score</th></tr> 
                <tr  ng-repeat="a in RightOrWrong"    >
                    <td>
	        {{$index+1}}
	      </td>
	   <td>
	       <font color={{resultColor[a.result]}}>{{resultContent[a.result]}}</font>
	     </td>
	    <td>
	     {{a.score}}
	     </td>
             </table>
 <div ng-show ="finished == 1 && score == score" >  <font font size="6"color= '#2A67D1'>
        You get {{score}} marks. {{evaluate[score/8]}}   </font>
  </div>
     </div>
